.homemain {
 position: fixed;
 z-index: 111111111;
  background-color: #f5f9f9;
max-width: 555px;
width: 100%;
  &__title {
    padding-left: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  &__buttons {
    &--button {
      border: none;
      background-color: #f5f9f9;
      color: #000000;
      font-size: 18px;

      padding: 5px 10px;
      & span {
        filter: blur(1px);
        opacity: 0.7;
      }
      &:active {
        background-color: rgb(211, 211, 211);
        & span {
          filter: blur(0);
          opacity: 1;
          padding-bottom: 3px;
          box-shadow: 0 3px #1da1f2;
        }
      }
    }
  }
}

@media screen and (max-width:1200px) {
  .homemain{
    max-width: 774px;
    width: 100%;
  }
  
}
@media screen and (max-width:1040px) {
  .homemain{
    max-width: 676px;
    width: 100%;
  }
  
}
@media screen and (max-width:992px) {
  .homemain{
    max-width: 553px;
  }
  
}
@media screen and (max-width:768px) {
  .homemain{
    max-width: 343px;
  }
  
}
@media screen and (max-width:525px) {
  .homemain{
    max-width: 376px;
  }
  
}
@media screen and (max-width:400px) {
  .homemain{
    max-width: 360px;
  }
  
}
