.site{
  position: sticky;
  top: 50px;
    border-left: 1px solid #d8d8d8;
}
.right {
    padding-left: 28px;
  margin-top: 30px;
  &__input {
    position: fixed;
    border: none;
    padding: 15px 64px;
    outline: none;
    display: block;
    background: #eff3f4;
    border-radius: 31px;
    max-width: 373px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #5c6c79;
  }
  &__search {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__text {
    margin-top: 40px;
    background: #f7f9f9;
    border-radius: 10px;
    padding: 20px 15px;
  }
  .tren {
    &__title {
      padding-right: 151px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
    }
  }
  .treng {
    padding-top: 20px;
    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      padding-right: 177px;
      color: #393b41;
      opacity: 0.6;
    }
  }
  &__relo {
    &--title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
      margin-bottom: 0;
    }
    &--leni {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #393b41;
      opacity: 0.6;
    }
    &--btn {
      padding-top: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #1da1f2;
    }
  }
  &__tems--text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #536471;
  }
}
.follow {
  background: #f7f9f9;
  border-radius: 10px;
  padding: 20px 15px;
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
}
.obuna {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-left: 13px;
  }
  &__leni {
    padding-left: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
  }
  &__btn {
    font-style: normal;
    margin-left: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding: 10px 18px;
    background: #000000;
    border-radius: 50px;
    color: #ffffff;
  }
}
